<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Portal</title>
    <link href="/register.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://www.clipartmax.com/png/middle/32-329418_find-best-jobs-in-our-portal-job-logo.png" type="x-icon type">

  </head>

  <body>
    <div class="wrapper">
      <form class="form-candidate-recruiter" method="post">
        <div>
          <select id="selection" name="usertype">
            <option value="Candidate">Candidate</option>
            <option value="Recruiter">Recruiter</option>
          </select>
          <h2 class="candidate" style="color: rgb(0, 0, 0)">Register as Candidate</h2>
          <input type="text" autocomplete="off" name="firstname" placeholder="First Name" required/>
          <br /><br />
          <input type="text" autocomplete="off" name="lastname" placeholder="Last Name" required/>
          <br /><br />
          <input type="email" autocomplete="on" name="email" autocomplete="off" placeholder="Email" required/>
          <br /><br />
          <input type="password" name="password" id="password" placeholder="Password" required/>
          <span id="message"style="color:red;"> </span>
          <br /><br />
          <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required/>
          <br /><br />
          <span id="messages"style="color:red;"> </span>
          <input type="text" autocomplete="off" id="name" name="companyname" style="display: none;" placeholder="Company Name"/> 
          <br /><br />
          <span id="companyname"style="color:red;"> </span>
          <button name="submit" type="submit">Register</button>
          <br /><br />
        </div>
      </form>
      Already have an account? <a href="login">&nbsp;Log In</a>
    </div>

    <script>
      //select Register as candidate or rucruiter
      document.querySelector("#selection").addEventListener("change", function (e) {
        const selectedValue = e.target.value;
        const textel = document.querySelector(".candidate");

        // toggle single field
        // recruiter selected
        if (selectedValue === "Recruiter") {
          document.querySelector("#name").style.display = "inline-block";
          textel.textContent = "Register as Recruiter";

          // toggle single field
          // candidate selected
        } else {
          document.querySelector("#name").style.display = "none";
          textel.textContent = "Register as Candidate";
        }
      });



      //Check for Password and Confirmpassword are same or not
      const form = document.querySelector(".form-candidate-recruiter");
      form.addEventListener("submit", registerUser);

      async function registerUser(event) {
        event.preventDefault();

        var pass = document.querySelector("#password").value;
        var confirmpass = document.querySelector("#confirmpassword").value;
        var companyname = document.querySelector("#name").value;
        var usertype = document.querySelector("#selection").value

        if (pass != confirmpass) {
          document.querySelector("#message").innerHTML = "*Password doesn't match"
          return false;
        }
        else {
          document.querySelector("#message").innerHTML = ""
        }

        if (usertype === 'Recruiter' && !companyname) {
          document.querySelector("#companyname").innerHTML = "*Company Name is Required"
          return false;
        }
        else {
          document.querySelector("#companyname").innerHTML = ""
        }


        let payload = {}
        for (let i = 0; i < form.elements.length; i++) {
          let el = form.elements[i];
          payload[el.name] = el.value
          console.log(el.name, el.value);
        }

        console.log(payload, JSON.stringify(payload))
        const result = await fetch('/api/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        }).then((res) => {
          return res.json()
        })

        
        //Going to dashboard after registration
        if ((usertype === 'Recruiter' || usertype === 'Candidate') && result.status === 'ok') {
          window.location.href = "login";
        }
        else {
          alert(result.error)
        }
      }
    </script>
  </body>
</html>
