<div class="nav">
    <h1>Job Portal</h1>
    <div class="setting-icon-dropdown">
        <i onclick="myFunction()" class="fa fa-gear icon"></i>
        <div class="dropdown-content" id="myDropdown">
            <a href="#settings">Settings</a>
            <a href="#logout">Logout</a>
        </div>
    </div>
</div>